version: "3.7"

services:
  minio:
    image: minio/minio
    restart: always
    command: server /data
    ports:
      - "172.17.0.1:9999:9000"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: ${ADMIN_PASSWORD}
    volumes:
      - ./s3_data:/data
  # This service just makes sure a bucket with the right policies is created
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc config host add minio http://minio:9000 minio ${ADMIN_PASSWORD};
      /usr/bin/mc mb minio/opnform;
      /usr/bin/mc anonymous set public minio/opnform/public;
      exit 0;
      "

  opnform:
    image: jhumanj/opnform
    restart: always
    volumes:
      - ./forms:/persist
      - ./.env:/app/.env
    ports:
      - 172.17.0.1:35551:80
    depends_on:
      - postgres
  redis:
    image: elestio/redis:7.0
    restart: always
    volumes:
      - ./redis-data:/data
  postgres:
    image: elestio/postgres:15
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "172.17.0.1:27779:5432"

  pgadmin4:
    image: elestio/pgadmin:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${ADMIN_PASSWORD}
      PGADMIN_LISTEN_PORT: 8080
    ports:
      - "172.17.0.1:49969:8080"
    volumes:
      - ./servers.json:/pgadmin4/servers.json
